/* Your custom css code goes here */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  margin-bottom: 250px;
}

.centerspotify{

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 500px;
  margin-bottom: 30px;
  
  
}

#follower{
 position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(60%, 60%)

}